*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #1b1b1b;
}

.main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-inner, .section{
    padding: 2rem;
    text-align: center;
    background-color: #2b2b2b;
    border-radius: .5rem;
    margin-top: 2rem;
}

.section ul{
    text-align: left;
    color: #fff;
}

h1, h2{
    color: aquamarine;
    margin-bottom: 2rem;
}

p{
    color: #fff;
}